body {background-color: #FFBFD1;}
h1 {color: #FFFFFF; font-family: courier new;}
p {color: #FFFFFF; font-family: courier new;}
a {color: #FFFFFF; font-size: 20px; text-decoration-line: none; padding: 30px}
ul {background-color: #F99DBC}
li {display: inline;}
